<style>
    li {
        margin-bottom: 5px;
    }

    a {
        font-size: 1.2em
    }

</style>

<h2>BantuTeman Api Endpoint List Documentation Page</h2>
<ul>
    <li><a href="api">/api</a><br>Api root, this page shows all routes</li>
    <li><a href="api/words/all">/api/words/all</a><br>GET all words and its count in database</li>
    <li><a href="api/words/count">/api/words/count</a><br>GET a word and its count.<br>
        Usage: /api/words/count?search-word=(insertword)<br>
        Example : <a href="/api/words/count?search-word=intelligent">/api/words/all?search-word='intelligent'</a>
    </li>
    <li><a href="api/words/add">/api/words/add</a><br>POST a word and its tag<br>
    will INSERT a new word if it doesnt exist, will UPDATE word count if it exist <br>
    Example: POST <br>
    Content-Type : application/json
    <br>
    {<br>
        <!-- &emsp; is tab -->
        &emsp; "word" : "MOCK",<br>
        &emsp; "tag" : "testag"<br>
    }

    </li>
</ul>